<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Quick Weather</title>
		<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
		<!-- <link rel="stylesheet" type="text/css" href="public/assets/css/main.css"></link> -->
		
	</head>
	<body>
		{{{ body }}}
<script src="https://code.jquery.com/jquery.js"></script>
<script src="/assets/js/app.js" type="text/javascript" charset="utf-8" async defer></script>
 	</body>
</html>
